<!--header/background-->

<div id="logo-container">
    <img src="../../../../assets/images/contact/MicrosoftTeams-image (3).png" alt="Hintergrund" />
</div>

<!--body container-->

<div id="b1" class="rounded container justify-content-center">

    <div id="b2" class="row opacity-50 rounded"></div>

    <div id="b3" class="row justify-content-evenly text-center">
        
        <!--content-->

        <table>
            <tr>
                <th></th>
                <th id="pbbg" class="text-center rounded">
                    <img id="pb" src="../../../../assets/images/contact/logo.png">
                </th>
                <th></th>
            </tr>
            <tr id="r1">
                <td>
                    <p class="h3">
                        {{ trainerName }}<br />Ausbilder | IT Developer<br />
                    </p>
                    <h6>Themenbereiche Kickstart:</h6>
                    <p *ngIf="topics">{{topics}}</p>
                </td>
                <td></td>

                <td>
                    <p class="h3">
                        Kontaktdaten
                    </p>
                    <p>
                       <span *ngIf="email"> E-mail:{{email}}</span><br />
                       <span *ngIf="telephone"> Telefonnummer: {{telephone}} </span><br />
                       <span *ngIf="linkedInLink"><a id="linkedin" href="{{linkedInLink}}">LinkedIn Profil</a></span> 
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--back button-->

<div class="text-center">
    <button (click)=goBack() id="back" type="button" class="btn btn-primary btn-lg" href="./">
        Zurück
    </button>
</div>