/*header/background*/

#logo-container img {
    width: 100%;
    height: auto;
}

/*body container*/

#b1{
    box-shadow: 10px 20px 15px silver;
	border-radius: 20px;
    background-color: #a055f5;
}

#b2{
    background-color: #a055f5;
    height: 100px;
    position: relative;
    top: -100px;
}

/*content*/

table{
    position: relative;
    top: -190px;
    color: #ffffff;
}

th, td{
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}
#pb {
    width: 200px;
    height: 200px;
}

#pbbg{
    background-color:rgba(255,255,255,0.85);
    width: 200px;
    height: 200px;
}

#r1{
    max-height: 20px;
}

span{
    color: #ffffff;
}

#linkedin{
    color: #ffffff;
    text-decoration: none;
}

/*back button*/

#back{
    background-color:#a055f5;
    border-width: inherit;
    box-shadow: 10px 20px 15px silver;
	border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}