    <div id="todo" class="container tap-plane" style="position: relative; margin:0; padding-top: 20px;"><!-- To-Do verwaltung Admin  -->
           
        <div class="col-md-4 mb-3" style="position: relative; right: 15px;"><!--task input with the commit button-->
            <div class="input-group"> 
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-bookmark-fill" style="color: blueviolet;"></i></span>
                </div>
                <input type="text" class="form-control" id="new_task" placeholder="neue Aufgabe" style="width: auto;" >
                <button type="button" class="btn btn-primary" style="background-color: blueviolet;">Submit</button>
              </div>
             
          </div>
  
  
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem; position: relative; margin-left: 3.5%;"> <!-- head of the card which contains the tasks/ to-do's-->
          <h4 class="card-header">To-Do Verwaltung</h4>
  
          
        <div class="container" style="font-size: large;"> <!-- card body-->
  
          <div class="form-check"> <!-- form check repeats for every to-do-->
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><!-- checkbox with following task description-->
            <label class="form-check-label" for="flexCheckDefault">
              Aufgabe 1
            </label>
            <button type="button" class="btn btn-light"><i class="bi bi-trash-fill" style="color:rgb(114, 20, 202);"></i></button> <!-- delete the task/ to-do-->
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Aufgabe 2
            </label>
            <button type="button" class="btn btn-light"><i class="bi bi-trash-fill" style="color:rgb(114, 20, 202);"></i></button>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Aufgabe 3
            </label>
            <button type="button" class="btn btn-light"><i class="bi bi-trash-fill" style="color:rgb(114, 20, 202);"></i></button>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Aufgabe 4
            </label>
            <button type="button" class="btn btn-light"><i class="bi bi-trash-fill" style="color:rgb(114, 20, 202);"></i></button>
          </div>
          
          
          </div>
             
        </div>
      </div>

