
@media only screen and (max-width: 320px) {

    .input-group {
        display: flex;
        justify-content: center !important;
        width: 100%;
        margin-left: -5em;
            
    }
   
    #todoer {
       display: flex;
       justify-content: center;
      
   }


}
   
@media only screen and (max-width: 375px) {

.input-group {
    margin-left: -3em !important;
}
    
}
#input-group {
    width: 100%;
    
    
}