<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: top;" *ngIf="admin == '1' || student == '1'">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/homepage/Accenture-Logo.png" width="100" height=auto>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="calendar">Kalender</a>
        </li>
        <li class="nav-item" *ngIf="admin == '1'">
          <a class="nav-link" routerLink="admin">Admin</a>
        </li>
        <li>
          <div class="nav-link"  (click)="logout()">Logout</div>
        </li>
      </ul>
    </div>
    
    
  </div>
</nav>