<div class="video-header wrap">

    <div class="fullscreen-video-wrap">
        <video autoplay muted loop id="myVideo" style="filter: brightness(0.5);">
            <source src="../../../../assets/video/Diashow.mp4" type="video/mp4">
        </video>
    </div>

    
    <div class="header-content">
        <h1>Kickstart 2021</h1>
        <h3>myStart</h3>
        <div class="Arrow">
            <a href="/home/#scrollDown" class="btn btn-info" role="button"
                style="background-color: rgba(255, 255, 255, 0); border:none;">
                <img src="https://img.icons8.com/material-outlined/24/ffffff/collapse-arrow.png">
                <br>
                <a style="color: white;">Scroll</a>
            </a>
        </div>
    </div>
    
    
</div>
