.video-header{height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.wrap{
max-width: 960px;
padding-left: 1rem;
padding-right: 1rem;
margin:auto;
text-align: center;
}



.fullscreen-video-wrap{
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
overflow: hidden;

}
.fullscreen-video-wrap video{
min-height: 100%;
max-width: 100%;

}

.header-content{
z-index: 3;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.header-content h1{ 
font-size: 4rem !important; 
margin-bottom: 0;
z-index: 5;

}

.Arrow{
color: white;
z-index: 5;
bottom: 10px;
position: absolute;
justify-content: center;
align-items: center;

}


@media(max-width:768px){ 
.header-content h1{font-size: 15rem;} 
.header-content p{font-size: 1rem;}
}


.section{text-align: center; margin-top: 50px; font-size: 1.5rem;}

hr.style1{
border-top: 1px solid #8c8b8b;
}

.Überschrift{
background:#f2f2f2;
padding: 20px;
}