          
          
          
          <div id="kalender" class="container tab-pane active" ><!-- Termin Seite Admin  -->
              <br>
              <!--formular -->
              <form class="">
                  <div class="row mb-2" >
  
                    <div class="col-md-3 mb-2"><!-- input for the date/ day-->
                        <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-calendar3" style="color:rgb(114, 20, 202);"></i></span>
                              </div>
                            <input [(ngModel)]="date" name="date" type="date" class="form-control" id="Date" placeholder="Datum" required>

                        </div>
                    </div>
  
                    <div class="col-md-3 mb-2"><!--input for the starting time-->
                        <div class="input-group">
                             <div class="input-group-prepend">
                                <span class="input-group-text" ><i class="bi bi-clock" style="color:rgb(114, 20, 202);"></i></span>
                             </div>
                            <input [(ngModel)]="start_time" name="start_time" type="datetime" class="form-control"  placeholder="Start"  required>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2"><!--input for the starting time-->
                      <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text" ><i class="bi bi-clock" style="color:rgb(114, 20, 202);"></i></span>
                           </div>
                          <input [(ngModel)]="end_time" name="end_time" type="datetime" class="form-control"  placeholder="Ende"  required>
                      </div>
                  </div>
  
                    <div class="col-md-3 mb-2" ><!--input for the trainer Name-->
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" ><i class="bi bi-person-rolodex" style="color:rgb(114, 20, 202);"></i></span>
                            </div>

                            <form [formGroup]="trainerForm" (ngSubmit)="submit()">
          
                              <div class="form-group">
                                  <label for="website"></label>
                                  <select formControlName="website" class="form-control" id="picker" (change)="changeWebsite($event)">
                                      <option [value]=0 disabled>Select Trainer</option>
        
                                        <option *ngFor="let curTrainer of trainer" [value]=curTrainer.trainer_id>{{curTrainer.first_name}} {{curTrainer.last_name}}</option>
                                  </select>

                                  <!--
                                  <div *ngIf="f.website.touched && f.website.invalid" class="alert alert-danger">
                                      <div *ngIf="f.website.errors.required">Name is required.</div>
                                  </div>
                                  -->
                              </div>
                            
                              <!--<button class="btn btn-primary" type="submit" [disabled]="!trainerForm.valid">Submit</button>-->
                          </form>

                          <!--
                          <input [(ngModel)]="trainer_input" name="trainer_input" type="text" class="form-control" id="validationDefaultUsername" placeholder="Trainer" aria-describedby="inputGroupPrepend2" required>
                          -->
                        </div>
                    </div>

                    <div class="col-md-3 mb-2"><!--imput for the theme for the training-->
                      <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2" style="color:rgb(114, 20, 202);"><i class="bi bi-newspaper"></i></span>
                          </div>
                        <input [(ngModel)]="topic" name="topic" type="text" class="form-control" id="validationDefaultUsername" placeholder="Thema" aria-describedby="inputGroupPrepend2" required>
                      </div>
                  </div>  
  
                  </div>
                  <!-- Button to submit the information to the server/ database-->
                    <div class="row text-center" >
                      <div class="col"><!--Button-->
                       
                        
                            <div >
                              <button id="buttoner" (click)="submitButton()" class="btn btn-primary " style="background-color: blueviolet;" type="submit">{{this.buttonTitle}}</button>   
                            </div>
                         
                      
                      </div>
                    </div>             
              </form> 
              <br><!--platzhalter-->
              
                  <!-- tabel to show the database and to edit the entries -->
              <table class="table">
                  <thead>
                    <tr>  <!-- head of the table-->
                      <th scope="col">Trainer</th>
                      <th scope="col">Thema</th>
                      <th scope="col">Datum</th>
                      <th scope="col">Start</th>
                      <th scope="col">Ende</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody> <!-- body of the table  with the buttons you can delete (the trash icon ) or edit (the pencil icon ) the entries-->
                    <tr *ngFor="let event of training">
                      <th scope="row">{{event.trainer.first_name + " " + event.trainer.last_name}}</th>
                      <td>{{event.topic}}</td>
                      <td>{{event.training_date}}</td>
                      <td>{{event.start_time}}</td>
                      <td>{{event.end_time}}</td>
                      <td><button type="button" (click)="editButton(event.trainingID, event)"class="btn btn-light"><i class="bi bi-pencil-fill" style="color:rgb(114, 20, 202);"></i></button></td>
                      <td><button type="button" (click)="deleteButton(event.trainingID)" class="btn btn-light"><i class="bi bi-trash-fill" style="color:rgb(114, 20, 202);"></i></button></td>
                    </tr>
                   
<!--
                    <tr>
                      <th scope="row">{{this.getTrainerByID(event.trainerID ? event.trainerID.toString() : "")}}</th>
                      <td>{{event.topic}}</td>
                      <td>{{event.training_date}}</td>
                      <td>{{event.start_time}}</td>
                      <td>{{event.end_time}}</td>
                      <td><button type="button" class="btn btn-light"><i class="bi bi-trash-fill" style="color:rgb(114, 20, 202);"></i></button></td>
                    </tr>
-->
                  </tbody>
              </table>
            
            </div>

    
   

