#picker {
    transform: translateY(-24px);
}

@media only screen and(max-width: 320px) {
    
    #new_task {
        width: 1em;
    }
    #buttoner {
        width: 14em !important;
        height: 0.5em !important;
        size: 2px !important;
    
    }

    body {
        background-color: white;
        background-image: none;
    }
}

@media only screen and (max-width: 765px){
   #kalender {
        font-size: 6px !important;
    }
    #picker {
        transform: translateY(-8px);
    
    }

    
}

