<div id="topics" class="container tap-plane" style="position: relative; margin:0; padding-top: 20px;">
    <!-- Themen verwaltung Admin  -->

    <form class="fromer">
        <br>

        <div *ngIf="topicList">
            <div *ngFor="let topic of topics; let index = index">
                <div class="col-md-4 mb-3" >
                    <div class="input-group">
                        <div class="input-group-prepend" >
                            <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-signpost-2"
                                style="color:rgb(114, 20, 202);"></i></span>
                        </div>
                        <input [(ngModel)]="topicList[index]" name="topic{{index}}" type="text" class="form-control" id="thema{{index}}" placeholder="Thema">
                        </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3 text-center">
            <!--Submit Button, send the new information to the progressbar-->
            <div>
                <div>
                    <button (click)="saveButton()" class="btn btn-primary" style="background-color: blueviolet; width: 100%;"
                        type="submit">Speichern</button>
                </div>
            </div>
        </div>






    </form>
</div>