<div id="trainer" class="container tab-pane active "><!-- Trainer administration for Admin  -->
    <br>
    <form class="">
      <div class="row" >

        <div class="col-md-4 mb-3"><!-- input for the trainer firstname-->
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-file-earmark-person"style="color:rgb(114, 20, 202);"></i></span>
              </div>
              <input [(ngModel)]="first_name" name="first_name" type="text" class="form-control" id="first_name" placeholder="Vorname" required>
            </div>
        </div>

        <div class="col-md-4 mb-3"><!--input for the trainer lastname-->
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class="bi bi-file-earmark-person-fill"style="color:rgb(114, 20, 202);"></i></span>
              </div>
              <input [(ngModel)]="last_name" name="last_name" type="text" class="form-control"  placeholder="Nachname"  required>
            </div>
        </div>

        <div class="col-md-4 mb-3" ><!--input for the trainer's postition-->
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" ><i class="bi bi-signpost-2-fill" style="color:rgb(114, 20, 202);"></i></span>
              </div>
              <input [(ngModel)]="job_title" name="job_title" type="text" class="form-control" id="position" placeholder="Position" aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
      </div>

          <div class="row">
              <div class="col-md-4 mb-3"><!--input for the trainer's email-->
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2" style="color:rgb(114, 20, 202);"><i class="bi bi-envelope-fill"></i></span>
                  </div>
                  <input [(ngModel)]="email" name="email" type="text" class="form-control" id="email" placeholder="E-Mail" aria-describedby="inputGroupPrepend2" required>
                </div>
              </div> 

              <div class="col-md-4 mb-3"><!--input for the trainer's phonenumber-->
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-telephone-fill" style="color:rgb(114, 20, 202);"></i></span>
                    </div>
                    <input [(ngModel)]="telephone" name="telephone" type="text" class="form-control" id="fone" placeholder="Telefonnummer" >
                  </div>
              </div> 

              <div class="col-md-4 mb-3"><!--input for the trainer's linkedIn-->
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-linkedin" style="color:rgb(114, 20, 202);"></i></span>
                    </div>
                    <input [(ngModel)]="linkedInUrl" name="linkedInUrl" type="text" class="form-control" id="linkedIn" placeholder="LinkedIn " >
                  </div>
              </div>

              
          </div>
          <div class="row">

            <div class="col-md-4 mb-3"><!--input for the trainer's theme-->
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-bookmarks-fill" style="color:rgb(114, 20, 202);"></i></span>
                  </div>
                  <input [(ngModel)]="topics" name="topics" type="text" class="form-control" id="theme" placeholder="Thema" required>
                </div>
            </div>

            <div class="col-md-4 mb-3"><!--input for the trainer's information text-->
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-info-square" style="color:rgb(114, 20, 202);"></i></span>
                  </div>
                  <input [(ngModel)]="trainer_info" name="trainer_info" type="text" class="form-control" id="trainerInfo" placeholder="Trainer info" >
                </div>
            </div>
            
            <div class="col-md-4 mb-3 text-center"><!--Button to submit the changes-->
              <div>
                  <div>
                    <button (click)="submitButton()" class="btn btn-primary" style="background-color: blueviolet; width: 100%;" type="submit" >Speichern</button>
                  </div>
                </div>
            </div>


          </div>

           
        
    </form>

      <br><!--placeholder -->
      
          <!--  the table show the existing trainer-->
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Vorname</th>
              <th scope="col">Nachname</th>
              <th scope="col">Email</th>
              <th scope="col">Telefon</th>
              <th scope="col">Position</th>
              <th scope="col">Thema</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curTrainer of trainer">
              <th scope="row">{{curTrainer.first_name}}</th>
              <td>{{curTrainer.last_name}}</td>
              <td>{{curTrainer.email}}</td>
              <td>{{curTrainer.telephone}}</td>
              <td>{{curTrainer.job_title}}</td>
              <td>{{curTrainer.topics}}</td>
              <td><button *ngIf="curTrainer.trainer_id != 35" type="button" (click)="editButton(curTrainer.trainer_id, curTrainer)" class="btn btn-light"><i class="bi bi-pencil-fill" style="color:rgb(114, 20, 202);"></i></button></td> <!-- With the buttons you can delete (the trash icon ) or edit (the pencil icon ) the entries-->
              <td><button *ngIf="curTrainer.trainer_id != 35" type="button" (click)="deleteButton(curTrainer.trainer_id)" class="btn btn-light"><i class="bi bi-trash-fill" style="color:rgb(114, 20, 202);"></i></button></td>
            </tr>
          </tbody>
        </table>
</div>
