*{box-sizing: border-box;}

.body{ margin: 0;
 font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
	scroll-behavior: smooth;
}


.video-header{height: 100vh;
         display: flex;
	     align-items: center;
		 justify-content: center;
	     color: #fff;
	
}

.wrap{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin:auto;
	text-align: center;
}

	

.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
}
.fullscreen-video-wrap video{
	min-height: 100%;
	max-width: 100%;
	
}

/*.header-overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,33,33,0.65);
	opacity: 0.80;
	
}*/

.header-content{
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	
}

.header-content h1{ 
	font-size: 4rem !important; 
	margin-bottom: 0;
	z-index: 5;

}

.Arrow{
	color: white;
	z-index: 5;
	bottom: 10px;
	position: absolute;
	justify-content: center;
	align-items: center;
	
}


@media(max-width:768px){ 
	.header-content h1{font-size: 15rem;} 
	.header-content p{font-size: 1rem;}
}


.section{text-align: center; margin-top: 50px; font-size: 1.5rem;}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

.Überschrift{
	background:#f2f2f2;
	padding: 20px;
}
.contacts{
	background:#f2f2f2;
}

.testimonial-card .card-up {
  height: 90px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #a100ff, #510074) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

#cards{
	padding-bottom: 60px;
	display:flex;
}

.berichte {
	background: linear-gradient(to right, #a100ff, #510074) !important;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
}


.be-comment-block {
    margin-bottom: 0px;
    border-radius: 2px;
    padding: 0px 00px;
}

.comments-title {
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: white;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: white;
    padding: 15px 20px 20px 20px;
}

@media only screen and (max-width: 765px){
	#framer {
		width: 300px;
		height: 150px;
	}
}
.btn-info {
	text-shadow: none;
	box-shadow: none;
}






.navbar{z-index: 10;}
.my-nav .nav-link{color: aliceblue;}
.my-nav .navbar-brand{color: aliceblue;}
.navbar-toggler-icon{color: aliceblue;}