
<div class="body" *ngIf="admin || student">
	<div class="video-header wrap">

		<div class="fullscreen-video-wrap">
			<video autoplay muted loop id="myVideo" style="filter: brightness(0.5);">
				<source src="../../../../assets/video/Diashow.mp4" type="video/mp4">
			</video>
		</div>

		
		<div class="header-content">
			<h1>Kickstart 2021</h1>
			<h3>myStart</h3>
			<div class="Arrow">
				<a href="/home/#scrollDown" class="btn btn-info" role="button"
					style="background-color: rgba(255, 255, 255, 0); border:none;">
					<img src="https://img.icons8.com/material-outlined/24/ffffff/collapse-arrow.png">
					<br>
					<a style="color: white;">Scroll</a>
				</a>
			</div>
		</div>
	    
		
	</div>

	<div>
		<p id="scrollDown"></p><br>
	</div>
	<div id="Progressbar">
		<section class="section section-a">

			<div class="container1">
				<h1>Dein Fortschritt im Kickstart.</h1>
			</div>
			<div style="padding-top: 3%;">
				<app-progressbar></app-progressbar>
			</div>
		</section>
	</div>


	<div class="container2" id="YT Video">
		
		<div class="row text-center">

			<div class="col" style="padding-bottom: 5%">
				<iframe id="framer"
				    width="800" height="400" src="https://www.youtube.com/embed/4yyUCBWq2Xs"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>

			<div class="col" style="padding-top: 8%; padding-right:8%">

				<h1 class="text-center">Kickstart Vorstellungs Video</h1>
				<p> Hier fängt dein erster Meilenstein bei Accenture an... </p>

			</div>
		</div>
	</div>
	<div class="contacts">
		<hr class="style1">
		<div class="Überschrift" style="margin: 20px;"> <!-- hier und in zeile 70 wurde Style hinzugefügt-->
			<h3>Wichtige Kontakte</h3>
		</div>

	
		<div id="cards" class="row" style="margin: 20px;">

			<app-important-contact name="Benjamin Jung" pb="../../../../assets/images/homepage/benny-picture.jpg"
				job="Ausbildungsleiter" mail="benjamin.jung@accenture.com" phone="+49 176 61284858" class="col">
			</app-important-contact>
			<app-important-contact name="Gerrit Stapper" pb="../../../../assets/images/homepage/gerrit-picture.jpg"
				job="Ehemaliger dualer Student" mail="gerrit.stapper@accenture.com" phone="+49 175 5761247" class="col">
			</app-important-contact>
			<app-important-contact name="Meerbeck Heike" pb="../../../../assets/images/homepage/heike-picture.png"
				job="HR Ansprechpartnerin" mail="heike.meerbeck@accenture.com" phone="+49 175 5766910" class="col">
			</app-important-contact>


			<!--<section class="col mx-auto my-5" style="max-width: 27rem;" >
      
    <div class="card testimonial-card mt-2 mb-3">
	  <a class="nav-link" href="#">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="../../../../assets/images/homepage/benny-picture.jpg" class="rounded-circle img-fluid"
          alt="Contact avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Benjamin Jung</h4>
        Ausbildungsleiter
        <hr>
        <font size="3">Mail:</font>
        <br>
		<font size="3">marc.bejamin.jung@accenture.com</font>
		<br>
        <font size="3">Telefon:</font>
		<br>
		<font size="3">+49 123 4567890</font>
      </div>
	</a>
    </div>
  </section>

    <section class=" col mx-auto my-5" style="max-width: 27rem;">
      
    <div class="card testimonial-card mt-2 mb-3">
	<a class="nav-link" href="#">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="../../../../assets/images/homepage/gerrit-picture.jpg" class="rounded-circle img-fluid"
          alt="Contact avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Gerrit Stapper</h4>
        Ehemaliger dualer Student
        <hr>
        <font size="3">Mail:</font>
        <br>
		<font size="3">gerrit.stapper@accenture.com</font>
		<br>
        <font size="3">Telefon:</font>
		<br>
		<font size="3">+49 123 4567890</font>
      </div>
	</a>
    </div>
    
  </section>

    <section class= " col mx-auto my-5" style="max-width: 27rem">
      
    <div class="card testimonial-card mt-2 mb-3">
	<a class="nav-link" href="#">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img src="../../../../assets/images/homepage/heike-picture.jpg" class="rounded-circle img-fluid" 
          alt="Contact avatar">
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">Heike Meerbeck</h4>
        HR Ansprechpartnerin
        <hr>
        <font size="3">Mail:</font>
        <br>
		<font size="3">heike.meerbeck@accenture.com</font>
		<br>
        <font size="3">Telefon:</font>
		<br>
		<font size="3">+49 123 4567890</font>
      </div>
	</a>
    </div> 
    </section>

  </div>-->


    </div> 

		<div class="berichte">
			<h3>Berichte über den Kickstart</h3>

			<app-berichte name="Lennart Hahner" time="November 11, 2021 at 3:14pm"
				text="Der Kickstart war eine spannende Zeit, in der man sehr gut auf zukünftige Projekte vorbereitet wurde. Ein toller Einstieg bei Accenture."
				pb2="../../../../assets/images/homepage/Lennart.png"></app-berichte>

			<app-berichte name="Marvin Biernacki " time="November 11, 2021 at 9:12am"
				text="Ich erinnere mich gerne an meinen Kickstart zurück. Zwar war es uns wegen Corona leider nicht möglich, diesen in Kronberg zu erleben, 
				dennoch konnte ich in dieser Zeit gut mit anderen dual Studierenden connecten.
				Es hat Spaß gemacht, die Grundlagen der Arbeit bei Accenture zu lernen."
				pb2="../../../../assets/images/homepage/Marvin.png"></app-berichte>

			<app-berichte name="Lucas Plumpe" time="November 11, 2021 at 10:33am"
				text="Ich habe das duale Studium mit großem Respekt angetreten, 
				da ich nur wenig Erfahrung in der professionellen Umsetzung von IT-Projekten besaß. 
				Mithilfe des Kickstartes wurde ich optimal auf den Projektalltag vorbereitet. Echt ein tolles Programm!"
				pb2="../../../../assets/images/homepage/lucas.png"></app-berichte>

			<!--<h3>Berichte über den Kickstart</h3>
	<div class="comments">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="be-comment-block">
	<div class="be-comment">
		<div class="be-img-comment">	
			<a href="blog-detail-2.html">
				<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
			</a>
		</div>
		<div class="be-comment-content">
			
				<span class="be-comment-name">
					<a href="blog-detail-2.html">Ravi Sah</a>
					</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					May 27, 2015 at 3:14am
				</span>

			<p class="be-comment-text">
				Pellentesque gravida tristique ultrices. 
				Sed blandit varius mauris, vel volutpat urna hendrerit id. 
				Curabitur rutrum dolor gravida turpis tristique efficitur.
			</p>
		</div>
	</div>
	<div class="be-comment">
		<div class="be-img-comment">	
			<a href="blog-detail-2.html">
				<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="be-ava-comment">
			</a>
		</div>
		<div class="be-comment-content">
			<span class="be-comment-name">
				<a href="blog-detail-2.html">Phoenix, the Creative Studio</a>
			</span>
			<span class="be-comment-time">
				<i class="fa fa-clock-o"></i>
				May 27, 2015 at 3:14am
			</span>
			<p class="be-comment-text">
				Nunc ornare sed dolor sed mattis. In scelerisque dui a arcu mattis, at maximus eros commodo. Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant. Proin ut ornare lectus, vel eleifend est. Fusce hendrerit dui in turpis tristique blandit.
			</p>
		</div>
	</div>
	<div class="be-comment">
		<div class="be-img-comment">	
			<a href="blog-detail-2.html">
				<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="be-ava-comment">
			</a>
		</div>
		<div class="be-comment-content">
			<span class="be-comment-name">
				<a href="blog-detail-2.html">Cüneyt ŞEN</a>
			</span>
			<span class="be-comment-time">
				<i class="fa fa-clock-o"></i>
				May 27, 2015 at 3:14am
			</span>
			<p class="be-comment-text">
				Cras magna nunc, cursus lobortis luctus at, sollicitudin vel neque. Duis eleifend lorem non ant
			</p>
		</div>
	</div>
	<form class="form-block">
		<div class="row">
			
			
			
			
		</div>
	</form>
	</div>
</div>
</div>-->


		</div>

		<app-impressum></app-impressum>
		<!-- Optional JavaScript; choose one of the two! -->

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->

</div>