
#buttons-container{
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    width: 80%;
    position: relative;
    transform: translateY(-38px);
}

.contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

p {
    text-align: center;
    font-size: 12px;
}
.icons{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F0F0F0;
    border: 2px solid #F0F0F0;
    padding: .8rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#progress {
    margin: 0 auto;
    width: 70%;
}

@media screen and (max-width: 600px) {
    .text-primary {
        font-size: 10px;
    }
    #buttons {
        top: 10px;
    }
    .icons{
        margin: .5rem 0;
        padding: .4rem;
        width: 25px;
        height: 25px;
        font-size: 8px;
    }
}