.footer{
    padding-top: 1%;
    color: white;
    background-color: black;
    padding-left: 50px;
    }
    .AKI{
    display: flex;
    }
    
    
    
    .contact{
    padding-left: 100px;
    padding-right: 100px;
    }
    
    
    
    .RI{
    padding-right: 100px;
    }


    .footer{
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        
        }
        .company{
        display: flex;
        flex-direction: row;
        margin: 3em;
        }
    
        .head, .contact, .Office, .source  {
            
            padding: 3em;
        }
    
        @media only screen and (max-width: 768px){
    
            .company{
                display: flex;
                 justify-content: center;
                 flex-direction: column;
                }
                .head, .contact, .Office, .source  {
            
                    padding: 2em;
                }
    
        }
    
    
       