<div class="footer">
    <div class="company">
        <div class="head">
        <p><strong>Impressum</strong></p>
            <p>Anbieter<br />Accenture Dienstleistungen GmbH<br />Campus Kronberg 1<br />D-61476 Kronberg im
                Taunus<br />Deutschland</p>
            </div>
        <div class="contact">
            <p>Kontakt<br />Telefon +49 (0) 61 73 94-99<br />Telefax +49 (0) 61 73 94-98<br />E-Mail:
                Accenture.direct.ela@accenture.com<br /></p>
        </div>
        <div class="Office">
            <p>Geschäftsführung</p>
            <p>Antje Hoffmann, Marcus Huth, Karl Rathgeb<br />Sitz der Gesellschaft ist Kronberg im
                Taunus<br />Registergericht: Amtsgericht Königstein im Taunus HRB
                5909<br />Umsatzsteuer-Identifikationsnummer: DE 811 669 950</p>
        </div>
        <div class="source">
            <p><a href="../../../../assets/pdf/Musterdatenschutzerkaerung-nach-der-DSGVO.pdf"
                    style="color:white">Datenschutzerklärung</a></p>
        </div>
    </div>
</div>