<div class="container2">

    <div class="row text-center">

        <div class="co">
            <iframe 
                src="https://www.youtube.com/embed/4yyUCBWq2Xs" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="col1" >

            <h1 class="text-center">Kickstart Vorstellungs Video</h1>
            <p> Hier fängt dein erster Meilenstein bei Accenture an... </p>

        </div>
    </div>
</div>