
  

<div class="container-calendar" *ngIf="admin == '1' || student =='1' ">


<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

    <div class="col-md-4">
        <div class="btn-group">
            <div  class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>


</div>
<ng-template #customCellTemplate let-day="day"  let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
      <div *ngFor="let event of day.events" >

       <!-- <div placement="top"  ngbPopover="DATEN!" popoverTitle="{{ event.title }}" #popover="ngbPopover" [openDelay]="300" [closeDelay]="500" triggers="mouseenter:mouseleave">-->
            <p aria-hidden="true" class="event-title" id="test"  [ngStyle]= "event.meta.trainer_id == '35' && {'background-color':colorsMain.secondary, 'border-color':  colorsMain.primary} || {'background-color': colorsTrainer.secondary, 'border': colorsTrainer.primary}"> {{ event.title }} </p>
        <!--</div>-->

      </div>
     
    </div>
    <div class="cal-cell-bottom">
        <span class="cal-day-badge" style="margin: 1rem 15px 5px 5px;" *ngIf="day.badgeTotal > 0"
            >{{ day.badgeTotal }}</span
          >
    </div>
  
  </ng-template>

<div [ngSwitch]="view" class="mt-5">
    <div *ngIf="isLoad">
        <mwl-calendar-month-view (dayClicked)="setViewDate($event.day.date); setView(CalendarView.Day)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"  [events]="calendarEvents" [cellTemplate]="customCellTemplate">
        </mwl-calendar-month-view>
    
        <mwl-calendar-week-view (eventClicked)="eventClicked($event)" *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="calendarEvents" >
        </mwl-calendar-week-view>
    
        <mwl-calendar-day-view (eventClicked)="eventClicked($event)" *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="calendarEvents">
        </mwl-calendar-day-view>
    </div>


</div>
</div>