<!--background-->

<div style="background-image:url(../../../assets/images/admin/background-admin.png); height: 100vh; background-size: cover;">

    <br>

<!--body container-->

    <div class="container" style="padding-top: 5%">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.8);
            border:none;">
            
            <!--card header-->

                <div class="card-header border-bottom-1 border-secondary" style="background-color: #fff;">
                    <h3>Sign In</h3>
                </div>
                
                <!--card body-->

                <div class="card-body">
                    <form>

                        <!--username input-->

                        <div class="input-group form-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-file-person-fill"
                                        style="color: blueviolet;"></i></span>
                            </div>
                            <input [(ngModel)]="username" type="text" class="form-control" name="username" placeholder="username">

                        </div>

                        <!--password input-->

                        <div class="input-group form-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-safe2"
                                        style="color: blueviolet;"></i></span>
                            </div>
                            <input [(ngModel)]="password" type="password" class="form-control" name="password" placeholder="password">
                        </div>

                        <!--login button-->

                        <div class="form-group">
                            <button (click)="clickSubmit()" type="submit" value="Login" class="btn btn-primary btn"
                                style="color: white; background-color: blueviolet; border: none; float: right">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <br>
</div>
