@media only screen and (max-width: 768px){
    .bgimg{
        background-image: none !important;
        
    }

    #adminer{
        box-shadow: none !important;
    }
    
}

#adminer {
    margin-top: 5em;
}