<div class="bgimg" *ngIf="admin == '1'"
    style="background-image:url(../../../../assets/images/admin/background-admin.png); height: 100vh; background-size: cover;">
    <div class="container" style="">
        <div id="adminer" class="card border-0 shadow">



            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <a ngbNavLink>Kalender</a>
                    <ng-template ngbNavContent>
                        <app-admin-calender></app-admin-calender>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Trainer</a>
                    <ng-template ngbNavContent>
                        <app-admin-trainer></app-admin-trainer>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Themen</a>
                    <ng-template ngbNavContent>             
                        <app-admin-topics></app-admin-topics>            
                    </ng-template>
                </li>


            </ul>
            <div [ngbNavOutlet]="nav"></div>

        </div>
    </div>
</div>