<!-- TO-DO-List for user-->
<!--we dont use this -->
<div style="background-image:url(../../../assets/images/admin/background-admin.png); height: 100vh; background-size: cover;">
<br>
<br>
<br>
<br>
<br>

<div class="card  " style="max-width:30rem ; min-height: 20rem;  margin: auto; justify-content: center; background-color: rgba(255, 255, 255, 0.9);">
    <h4 class="card-header fs-1">To-Do-Liste</h4>


    <div class="container fs-3" style="font-size: larger; ">

        <div class="form-check" >
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Aufgabe 1
            </label>

        </div>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Aufgabe 2
            </label>

        </div>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Aufgabe 3
            </label>

        </div>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Aufgabe 4
            </label>

        </div>
        <hr>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Aufgabe 5
            </label>

        </div>
        <hr>
        
    </div>

</div>
</div>