<div class="comments">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="be-comment-block">
            <div class="be-comment">
                <div class="be-img-comment">
                    <div ><!-- href="blog-detail-2.html" -->
                        <img [src]="pb2" alt="" class="be-ava-comment">
                    </div>
                </div>
                <div class="be-comment-content">

                    <span class="be-comment-name">
                        <div style="font-family: sans-serif;" >{{name}}</div><!--href="blog-detail-2.html"--><!-- Style hinzugefügt, für eine passendere Schrift art-->
                    </span>
                    <span class="be-comment-time">
                        <i class="fa fa-clock-o"></i>
                        {{time}}
                    </span>

                    <p class="be-comment-text">
                        {{text}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>