.be-comment-block {
    margin-bottom: 0px !important;
    border-radius: 2px;
    padding: 20px 30px;
}

.comments-title {
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 100px;
    height: 100px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: white;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 13px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 16px;
    line-height: 18px;
    color: white;
    padding: 15px 20px 20px 20px;
}
