<section class="col mx-auto my-5 " style="max-width: 27rem;" >
      
    <div class="card testimonial-card mt-2 mb-3">
    
	  <a class="nav-link">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
        <img [src]="pb" class="rounded-circle img-fluid"
          alt="Contact avatar" >
      </div>
      <div class="card-body text-center">
        <h4 class="card-title font-weight-bold">{{name}}</h4>
        {{job}}
        <hr>
        <font size="3">Mail:</font>
        <br>
		<font size="3">{{mail}}</font>
		<br>
        <font size="3">Telefon:</font>
		<br>
		<font size="3">{{phone}}</font>
      </div>
	</a>
    </div>
</section>
