/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "../src/app/bootstrap/css/bootstrap-theme.min.css"; 


* {
    margin: 0;
    padding: 0;
}



.btn-primary:hover {
    background-color: darken(#A600FF, 25%);
}